.title {
  color: #555a5a;
}

.todo-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;

  height: 50px;
  padding: 0 30px;
  margin-top: 0;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &--left {
    color: #646464;
    font-size: small;
  }

  &--right {
    font-weight: 600;
    background-color: transparent;
    color: #3d3e3e;
    border: none;

    cursor: pointer;
  }

  &--right:hover {
    color: #555a5a;
  }
}
