* {
  margin: 0;
}

.app {
  text-align: center;
  background-color: antiquewhite;
  width: 100vw;
  min-height: 100vh;
  position: absolute;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  border-radius: 20px;
  padding-top: 30px;
  position: relative;
  top: 5%;
}
